<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5" 
  IgnorableNamespaces="uap mp">

  <Identity
    Name="622PKar.WeedQbSocket"
    Publisher="CN=B2AF14E8-43FD-463C-83BA-4CEC47122EA2"
    Version="1.0.2.0" />

  <mp:PhoneIdentity PhoneProductId="7dfa5532-cd47-411f-b055-b384e8f3a5e4" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WeedQb Socket</DisplayName>
    <PublisherDisplayName>PKar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="WeedQbPlug.App">
      <uap:VisualElements
        DisplayName="WeedQb Socket"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="WeedQb Socket"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\SmallTile.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="text_log_file">
            <uap:SupportedFileTypes>
              <uap:FileType>.txt</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>text log file</uap:DisplayName>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <uap5:Extension
          Category="windows.appExecutionAlias"
          Executable="WeedQbPlug.exe"
          EntryPoint="WeedQbPlug.App">
          <uap5:AppExecutionAlias>
            <uap5:ExecutionAlias Alias="WeedQbPlug.exe" />
          </uap5:AppExecutionAlias>
        </uap5:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <uap:Capability Name="removableStorage"/>
    <DeviceCapability Name="bluetooth"/>
  </Capabilities>
</Package>